/* Kevin Powell - Under the radar CSS features for your CSS reset
   https://www.youtube.com/watch?v=cCAtD_BAHNw
   A simple reset (opionated)
   https://codepen.io/kevinpowell/pen/abMdOpp?editors=1100
*/
/* Makes sizing simpler */
*,
*::before,
*::after {box-sizing: border-box;}

/* Remove default spacing */
/* Force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Dark mode user-agent-styles */
/* Improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;

  /* Prevent font size inflation (iPhones) */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Min body height */
body {
  min-height: 100svh;
  line-height: 1.5;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,h2,h3,h4,h5,h6 {text-wrap: balance;}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* Sure Safari doesn’t wipe out the correct accessible role */
ul[role='list'],
ol[role='list'] {list-style: none;}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p, li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {font: inherit;}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {min-height: 10em;}

/* Anything that has been anchored to should have extra scroll margin */
:target {scroll-margin-block: 5ex;}


[role="region"][aria-labelledby][tabindex] {overflow: auto;}

[role="region"][aria-labelledby][tabindex]:focus {outline: .1em solid rgba(0,0,0,.1);}
